/* Github: matt-oc */

html {
  height: 100%;
}

body {
  color: black;
  font-family: 'Roboto', monospace;
  max-width: 100%;
}

h1,h2,h3 {
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin: 40px 0 40px 0;
}

.blue-bg {
  background-color: #548CE2;
}

.dblue-bg {
  background-color: #52abd1;
}

.white-content {
    color: #ffffff;
}

/* Navigation */

.navbar {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: transparent!important;
}

.navbar a {
  color: white!important;
}

.navbar-nav {
  width: 100%;
justify-content: flex-end;
}

.nav-item {
  margin-right: 20px;
}

/* General Structure */

.container-fluid {
  padding: 0;
  max-width: 100vw;
}
.section {
  margin: 0 0 0 0;
  padding: 100px 0 100px 0;
}

.row {
  margin: 0;
}

.contact-btn-area {
  width: 100%;
  display: block;
  justify-content: center;
  display: flex;
}

.dl-btn-area {
  width: 100%;
  display: block;
  justify-content: center;
  display: flex;
}

/* Main banner carousel */

.landing-screen {
  margin-top: -80px;
}

.z-50 {
  z-index: 50;
}

/* Code for overlay adapted from :https://stackoverflow.com/questions/28121731/use-pseudo-element-to-create-background-overlay */
.landing-screen:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(39,98,206, 0.5);
  z-index: 3;
  min-height: 800px;
}

.carousel-inner {
  height: 100vh;
  min-height: 800px;

}

.carousel-title {
  top: 25%;
}

.carousel-caption {
  bottom: 28%;
}


/* About section */

.circle-image {
  border-radius: 800px;
  box-shadow: 5px 5px 50px #727a74;
}

.about .col-6 {
  justify-content: center;
}

.about p {
  max-width: 50%;
}

/* What we do section */

.services .row {
  justify-content: center;
}

.services p {
  max-width: 80%;
}

/* Faq Section */

.faq .row {
  justify-content: center;
}

/* Contact us section */

.map, .map-row {
  width: 100%;
  height: 400px;
}
